In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ostrovnoy,RU,2021-10-24 14:32:48,68.0531,39.5131,27.73,88,99,23.71
1,1,Asyut,EG,2021-10-24 14:29:57,27.1810,31.1837,82.33,21,0,17.78
2,2,Puerto Ayora,EC,2021-10-24 14:32:48,-0.7393,-90.3518,71.56,84,96,9.06
3,3,Ruteng,ID,2021-10-24 14:32:49,-8.6136,120.4721,63.84,95,98,1.39
4,4,Kapoeta,SS,2021-10-24 14:30:24,4.7717,33.5903,93.13,27,83,12.03

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature. (Weights variable)
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature. (Weights variable)
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature. (Weights variable)
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Asyut,EG,2021-10-24 14:29:57,27.1810,31.1837,82.33,21,0,17.78
18,18,Kirakira,SB,2021-10-24 14:32:54,-10.4544,161.9205,80.08,82,43,7.90
22,22,Namanga,KE,2021-10-24 14:32:55,-2.5433,36.7905,81.54,34,26,10.33
23,23,Pedernales,DO,2021-10-24 14:32:56,18.0384,-71.7440,85.57,58,39,3.40
25,25,Carolina,PR,2021-10-24 14:32:56,18.3808,-65.9574,87.73,70,75,4.61
28,28,Souillac,MU,2021-10-24 14:32:57,-20.5167,57.5167,77.38,73,40,11.50
31,31,Kahului,US,2021-10-24 14:32:58,20.8947,-156.4700,75.85,85,20,16.11
37,37,Ewa Beach,US,2021-10-24 14:33:00,21.3156,-158.0072,76.98,74,1,11.99
39,39,Sinnamary,GF,2021-10-24 14:33:00,5.3833,-52.9500,81.16,86,44,9.51
41,41,Faanui,PF,2021-10-24 14:33:02,-16.4833,-151.7500,75.25,90,100,11.48

In [13]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 1 to 552
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     178 non-null    int64
 1   City        178 non-null    object
 2   Country     178 non-null    object
 3   Date        178 non-null    object
 4   Lat         178 non-null    float64
 5   Lng         178 non-null    float64
 6   Max Temp    178 non-null    float64
 7   Humidity    178 non-null    int64
 8   Cloudiness  178 non-null    int64
 9   Wind Speed  178 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 15.3+ KB

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1        Asyut      EG     82.33  27.1810   31.1837
18    Kirakira      SB     80.08 -10.4544  161.9205
22     Namanga      KE     81.54  -2.5433   36.7905
23  Pedernales      DO     85.57  18.0384  -71.7440
25    Carolina      PR     87.73  18.3808  -65.9574
28    Souillac      MU     77.38 -20.5167   57.5167
31     Kahului      US     75.85  20.8947 -156.4700
37   Ewa Beach      US     76.98  21.3156 -158.0072
39   Sinnamary      GF     81.16   5.3833  -52.9500
41      Faanui      PF     75.25 -16.4833 -151.7500

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Asyut,EG,82.33,27.1810,31.1837,Florence Hotel Assiut
18,Kirakira,SB,80.08,-10.4544,161.9205,SanBiz Lodge
22,Namanga,KE,81.54,-2.5433,36.7905,Hillsgate Home
23,Pedernales,DO,85.57,18.0384,-71.7440,Hotel Costa Marina
25,Carolina,PR,87.73,18.3808,-65.9574,Motel Fantasy Star
28,Souillac,MU,77.38,-20.5167,57.5167,Shanti Maurice Resort & Spa
31,Kahului,US,75.85,20.8947,-156.4700,Maui Seaside Hotel
37,Ewa Beach,US,76.98,21.3156,-158.0072,Uncle Junior Robert
39,Sinnamary,GF,81.16,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
41,Faanui,PF,75.25,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))