## Deliverable 3. Create a Travel Itinerary Map.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [38]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Takoradi,GH,78.15,broken clouds,4.8845,-1.7554,Raybow International Hotel
1,1,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,3,Dwarka,IN,78.21,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
3,6,Rikitea,PF,75.07,overcast clouds,-23.1203,-134.9692,People ThankYou
4,9,La Asuncion,VE,80.38,overcast clouds,11.0333,-63.8628,Colinas de Matasiete

In [39]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [40]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ixtapa"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ixtapa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Teacapan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Nuevo Ideal"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Cuencame"]

In [42]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
135,427,Ixtapa,MX,84.22,overcast clouds,20.7,-105.2,Hotel Plaza Providencia

In [43]:
vacation_start.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 135 to 135
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              1 non-null      int64
 1   City                 1 non-null      object
 2   Country              1 non-null      object
 3   Max Temp             1 non-null      float64
 4   Current Description  1 non-null      object
 5   Lat                  1 non-null      float64
 6   Lng                  1 non-null      float64
 7   Hotel Name           1 non-null      object
dtypes: float64(3), int64(1), object(4)
memory usage: 72.0+ bytes

In [67]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [66]:
print(start)

[20.7 -105.2]

In [68]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Ixtapa_tour = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(Ixtapa_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,427,Ixtapa,MX,84.22,overcast clouds,20.7000,-105.2000,Hotel Plaza Providencia
1,427,Ixtapa,MX,84.22,overcast clouds,20.7000,-105.2000,Hotel Plaza Providencia
2,447,Teacapan,MX,84.29,few clouds,22.5500,-105.7500,Hotel los Mangos
3,598,Nuevo Ideal,MX,76.37,clear sky,24.8875,-105.0728,Hotel Las Águilas
4,281,Cuencame,MX,82.33,broken clouds,24.8711,-103.6964,Hotel La Casa Del Viajero

In [73]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()


marker_layer = gmaps.marker_layer([start, end, stop1, stop2, stop3], info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))